<h1>Publics#index</h1>


<div class="row">
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Connecter à votre compte :</h5>
                        <p class="card-text">Si vous avez un compte; En cliquant sur une des bouttons vous pouvez acceder a votre compte.</p>
                        <%= link_to "Pour responsable", '/login', class:"btn btn-primary" %>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Creer votre compte :</h5>
                        <p class="card-text">Si vous ne disposez pas d'un compte; En cliquant sur une des bouttons vous pouvez le créer.</p>
                        <%= link_to "Pour responsable", '/signup', class:"btn btn-outline-primary" %>
                    </div>
                </div>
            </div>
        </div>