<h1>Adherents#index</h1>

<% if !@adherents.blank? %>
    <div class="container">
        <div class="row">
            <% for item in @adherents %>
                <div class="col">
                    <div class="card" style="width: fit-content;">
                        <div class="card-body">
                            <h5 class="card-title"><%= " #{item.nom} #{item.prenom} " %></h5>
                            <p class="card-text">email : <%= item.email %></p>
                            <div class="row">
                                <div class="col">
                                    <%= link_to 'Supprimer Adherent', item, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="card">
        <div class="card-body">
            Section des adherents est vide.
        </div>
    </div>
<% end %>